// Colors

$White-text: #ffffff;
$Black-text: #000000;
$Accent-text: #ff6b08;
$Warning-text: #ff001b;
$Footer-text: #545454;
$Modal-text: #8c8c8c;

$Background: #e5e5e5;
$Background-footer: #f7f7f7;
$Background-accent: #ff6b01;
$Background-header: rgba(0, 0, 0, 0.56);
// Fonts
$mainfont: 'Roboto', sans-serif;

// Facturre points
$mobile: 320px;
$tablet: 768px;
$desktop: 1280px;

// Cubic
$cubic: 250ms cubic-bezier(0.4, 0, 0.2, 1);

// Order
$items: 3;
$indent: 20px;
